@page

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" name="viewpoint" content="width=device-width">
   
</head>    
<body>
    <div id="video-container">
        <div class="center-video">
            <h1>CraftyPeets Magical Beans</h1>
            <p>
                Do you think Jack and the Beanstalk was a fictional story? Well, think again!
                It was real and you could buy the magical beans on this site.
            </p>
        </div>

        <div id="container">
            <div id="animation"></div>
        </div>
        <button onclick="myMove()">This button</button>

        <div class="center-video">
            <h1>These lyrics will make you cry.</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DWF5MSeqONU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>

        <div class=" center-video">
            <p>Test class</p>
        </div>
    </div>
</body>